<html>
<head><title>transitfeed_web validation service</title></head>
<body>
<form method="post" enctype="multipart/form-data"  action="{{ url_for('validate_gtfs_from_url') }}" >
  <p>
  <label for="gtfs_url">Please enter a GTFS feed URL:</label>
  <input id="gtfs_url" name="gtfs_url" type="text" size="80">

  <p>
  <label for="gtfs_file_upload">Or upload a GTFS file:</label>
  <input id="gtfs_file_upload" name="gtfs_file_upload" type="file">

  <p>
  <input type="submit" value="Validate">

</form>
</body></html>

